:root {
  --gray : #212121;
  --yellow: #FFF86C;
}

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  text-align: center;
}

body {
  background-color: var(--gray);
  color: #FFD500;
}

.logo {
  height: 19vh;
}

.sign-in {
  margin-top: 3vh;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--yellow);
}

.welcome  {
  margin-top: 8vh;
}

.sign-in button {
  font-size: 2rem;
  margin-top: 3vh;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
}

.sign-in h1 {
  margin-bottom: 2vh;
}

.google-icon {
  cursor: pointer;
}


.attend {
  margin-top: 3vh;
}

/* Attend */

.center{
  border-radius: 20px;
}
input[type="text"]{
  height: 60px;
  width: 75%;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #e1e7ea;
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  background: linear-gradient(#d1dce0,#dfe6e9);
}
form .buttons{
  padding: 10px 0;
}

.attend {
  color: #fff;
}

img {
  height: 8vh;
}

input[type="button"]{
  width: 20%;
  height: 70px;
  margin: 5px;
  font-size: 22px;
  line-height: 55px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  background: linear-gradient(#d9d9d9, #bfbfbf);
}
input[type="button"]:hover{
  transition: .5s;
  background: linear-gradient(#bfbfbf, #d9d9d9);
}
input#clear{
  background: #ff1a1a;
  border: 1px solid #cc0000;
  color: white;
}
input#delete {
  background-image: url("./assets/deleteIcon.svg");
  background-color: #d1dce0;
  background-repeat: no-repeat;
  background-position: center;
}

.log-btn-div {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
  
}
input.log-btn{
  width: 40%;
  margin: 10px 0 10px 0;
  font-size: 30px;
  color: var(--gray);
  background: #ff3d00;
  border: 1px solid #b32a00;
  border-radius: 30px;
}
#display {
  color: var(--gray);

}
input.log-btn:last-child {
  color: #000;
  background-color: var(--yellow);
}

/* Profile */




.profile {
  color: #fff;
  margin-top: 3vh;
  font-size: 1.5em;
  display: flex;
  align-items: center;

}

.profile div {
  flex: 1 1 0px;
}

.user-div {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  grid-template-columns: 1fr 1fr;
  
}

#actual-btn {
  margin-top: 1vh;
  background-color: #246030;
  border: none;
  color: #FFF;
  border-radius: 20px;
  font-size: 1em;
  padding: 5px 23px;
}
.user-text {
  flex-direction: column;
  display: flex;
  align-items: start;
}

.user-pic {
  height: 24vh;
  border-radius: 50%;
  width: 14vw;
}

.user-pic-div {
display: flex;
flex-direction: column;
align-items: center;
}

.belt, .armband{
  height: 10%;
  width: 13%;
  margin-left: 1%;
}

.armband {
  width: 8%;
}

.rank-div .belt {
  width: 9%;
}


.rank-div .armband {
  width: 5.5%;
}

.p-header {
  color: #000;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  gap: 2vw;
  align-items: center;
  margin-bottom: 0.5vh;
}

/* .days {
  color: #000;
} */
.rank-div-double, .rank-div {
  max-width: 95%;
  margin: auto;
  display: grid;
  gap: 3vw;

}

.rank-div {
  display: block;
  max-width: 65%;
}


.rank-div div, .rank-div-double div, .legend {
  background-color: #818589;
  padding: 1.5% 10px;
  border-radius:15px;
}


.line {
  margin: auto;
  background-color: #fff;
  width: 0.5vw;
  height: 80vh;
  margin-top: 3vh;
  margin-left: 2vw;
}

/* 
 */

 .react-calendar { 
  margin: auto;
  width: 85% !important;
 background-color: #fff;
 color: #222;
 border-radius: 8px;
 box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.125em;
}
.react-calendar__navigation button {
 color: #000;
 min-width: 44px;
 background: none;
 font-size: 16px;
 margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
 background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
 background-color: #f0f0f0;
}
abbr[title] {
 text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */

.react-calendar__navigation {
  margin-bottom: 0;
}
.react-calendar__tile--active{
  background-color: #246030 !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background: #f8f8fa;
 color: #000;
 border-radius: 6px;
}
.react-calendar__tile--now {
 background: #000;
 border-radius: 6px;
 font-weight: bold;
 color: #000;
}

.react-calendar__month-view__days__day--weekend {
  color: #000 !important;
}


.react-calendar button {
    padding-left: 2.5px;
 
}

.react-calendar__tile--now {
  background-color: #fff !important;
}

.bjj, .bjj-mt, .mt {
    background-image: url(./assets/red.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
  }

.mt {
  background-image: url("./assets/yellow.svg") !important;
}

.bjj-mt {
  background-image: url("./assets/both.svg") !important;
}


.band-color{
  fill: #fff;
}

.sign-out-btn {
  padding: 10px 50px;
  background-color: #246030;
  color: #fff;
  margin: 3vh;
  border: none;
  border-radius: 20px;
  display: none;  
  font-size: 1.3em;

}

.legend {
  padding: 2vh 4vw;
  display: flex;
  flex-direction: row;
  gap: 1vh;
  flex: 0 1 auto !important;
  width: 75%;
  margin: auto;
  margin-top: 5vh;
}

.calendar-div {
  display: grid;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;

}

@media screen and (max-width: 768px){

  .calendar-div {
    margin-top: 0;
    flex-direction: row;
    display: flex;
  }

  .legend {
    flex-direction: column;
    padding: 3%;
    flex: 1 1 0;
    margin-right: 5vw;
    margin-top: auto;
    width: 16%;
  }

  .logo {
    height: 15vh;
  }

  .profile div {
    flex: 0  1 auto;
  }

  .profile {
    flex-direction: column;
  }

  .line {
    margin: auto;
    background-color: #fff;
    width: 75%;
    height: 0.3vh;
    margin-top: 3vh;
  }

  .rank-div-double {

    grid-template-columns: 1fr 1fr;

  
  }

.sign-in button {
  font-size: 2rem;
}

.sign-out-btn {

  display: block;

}
  .profile {
    color: #fff;
    font-size: 1.1em;
  
  }
  .user-pic {
    height: 18vh;
    border-radius: 50%;
    width: 26vw;
  }
  
  .belt, .armband{
    height: 10%;
    width: 17%;
    margin-left: 1%;
  }
  
  .armband {
    width: 10%;
  }
  .p-header {
    font-size: 1.3em;
  }

  .rank-div .belt {
    width: 12%;
  }
  
  
  .rank-div .armband {
    width: 5%;
  }
  .react-calendar { 
    margin: 3vh 0 0 5vw !important;
  }
  
}
@media screen and (max-width: 425px){

  .user-pic {
    height: 17vh;
    border-radius: 50%;
    width: 35vw;
  }
  
  .sign-in button {
    font-size: 1rem;
  }
  
    .sign-in {
      font-size: 1.8em;
    }

  .profile {
    color: #fff;
    font-size: 1em;
  
  }

  .belt, .armband{
    height: 10%;
    width: 25%;
    margin-left: 1%;
  }
  
  .armband {
    width: 17%;
  }
  .rank-div .belt {
    width: 19%;
  }

  
  .rank-div .armband {
    width: 12%;
  }
  
}