:root {
  --gray: #12121c;
  --yellow: #fff86c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", Verdana, Arial, sans-serif;
  text-align: center;
  font-size: 1em;
}

a {
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--gray);
  color: #fff;
}

.logo {
  height: 19vh;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.sign-in {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

.sign-form {
  margin-top: 4vh;
  text-align: left;
}

.sign-form div {
  text-align: left;
}

.sign-form label {
  margin-left: 3vw;
}

.sign-in h1 {
  margin-bottom: 2vh;
}

.google-icon {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.attend {
  margin-top: 3vh;
}

/* Attend */

.center {
  border-radius: 20px;
}
.attend-text-input {
  height: 60px;
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid #e1e7ea;
  width: 36vw;
  color: #fff !important;
  font-size: 2em;
  text-align: center;
  background: #1b1b2a;
  margin-bottom: 1vh;
}
form .buttons {
  padding: 10px 0;
}

#pad {
  background-color: #1b1b2a;
}

.attend {
  color: #fff;
}

img {
  height: 8vh;
}

.center form {
  display: flex;
  justify-content: space-evenly;
}

#pad {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 60%;
  margin-left: 8vw;
  margin-top: 5vh;
  height: 55vh;
  padding-top: 2vh;
}

input[type="button"] {
  width: 27%;
  height: 9vh;
  font-size: 22px;
  line-height: 55px;
  border: 1px solid #707070;
  background-color: #1b1b2a;
  color: #fff;
  font-size: 2.5em;
}
input[type="button"]:hover {
  transition: 0.5s;
  background: #fff;
  color: #1b1b2a;
}

input#delete {
  background-image: url("./assets/deleteIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.log-btn-div {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
  width: 50%;
  align-items: center;
  height: 55vh;
}
.log-btn {
  color: #fff;
  background: #1b1b2a;
  border: none;
  border-radius: 10px;
  position: relative;
  width: 50%;
  height: 25%;
  margin-top: 2vh;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.log-btn .acronym {
  display: block;
}

.log-btn .icon {
  width: 70%;
  height: 40%;
  margin-bottom: 1vh;
}

#punch {
}
#display {
  color: var(--gray);
}
input.log-btn:last-child {
  color: #000;
  background-color: #fff;
}

/* Profile */

.user-text a {
  font-size: inherit;
}

.username-span {
  font-weight: bolder;
}

.id-span {
  color: #40d876;
  margin-left: 3vw;
  font-weight: bolder;
}

.user-email {
  font-weight: bold;
}

.user-joinDate {
  color: #707070;
}

.user-text p {
  margin-bottom: 0.1rem;
}

.pageHeader {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 4vh;
  margin-top: 2vh;
}
.forgotPasswordLink {
  cursor: pointer;
  font-weight: 600;
  text-align: right;
}

.pageContainer,
.offers,
.profile,
.listingDetails,
.category,
.explore {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .pageContainer,
  .offers,
  .profile,
  .listingDetails,
  .category,
  .explore {
    margin: 3rem;
  }
}
.pageContainer {
  margin-bottom: 10rem;
}
.input,
.formInput,
.textarea {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: none;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 0 3rem;
  font-size: 1rem;
}
@media (min-width: 1100px) {
  .input,
  .formInput,
  .textarea {
    padding: 0 5rem;
  }
}

.formInput {
  margin-bottom: 2rem;
}
#name {
  background: url("./assets/badgeIcon.svg") #ffffff 2.5% center no-repeat;
}

#email {
  background: url("./assets/personIcon.svg") #ffffff 2.5% center no-repeat;
}

.passwordInputDiv {
  position: relative;
}

#password {
  background: url("./assets/lockIcon.svg") #ffffff 2.5% center no-repeat;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  text-align: right;
}

.signInBar,
.signUpBar {
  margin-top: 2 rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .signInBar,
  .signUpBar {
    justify-content: start;
  }
}

.signInText,
.signUpText {
  font-size: 1.5rem;
  font-weight: 700;
}

.signInButton,
.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .signInButton,
  .signUpButton {
    margin-left: 3rem;
  }
}

.socialLogin {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIconDiv {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.socialIconImg {
  width: 100%;
}

.registerLink {
  margin-top: 4rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

.profile {
  color: #fff;
  margin-top: 3vh;
  font-size: 1.5em;
  display: flex;
}

.profile div {
  flex: 1 1 0px;
}

.user-div {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  grid-template-columns: 1fr 1fr;
  margin-top: 7vh;
}

.user-button {
  margin-top: 1vh;
  background-color: #40d876;
  border: none;
  border-radius: 10px;
  font-size: 0.9em;
  padding: 0 20px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 48%;
  height: 4vh;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
}

.user-button path,
.user-button ellipse {
  fill: #000;
}

#delete-button {
  background-color: #cb011c;
  color: #fff;
}

.trash {
  width: 40px;
  height: 35px;
}

.user-text {
  flex-direction: column;
  display: flex;
  align-items: start;
}

.user-pic {
  height: 12vw;
  border-radius: 50%;
  width: 12vw;
}

.user-pic-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .days {
  color: #000;
} */
.rank-div-double {
  max-width: 80%;
  margin: auto;
  margin-top: 8vh;
  display: flex;
  justify-content: space-around;
  gap: 2vw;
}

.rank-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b2a;
  padding: 1.5% 10px;
  border-radius: 15px;
  height: 35vh;
  width: 45%;
  flex: initial !important;
  position: relative;
}

.rank-div p:nth-child(odd) {
  margin-top: 3vh;
  font-weight: bolder;
  color: #fff;
}
.rank-div p:nth-child(even) {
  margin-top: 1vh;
  color: #707070;
}

.acronym {
  position: absolute;
  right: 6%;
  top: 5%;
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373850;
  border-radius: 50%;
  color: #40d876;
}

.belt {
  margin-top: 12%;
}

.blue-belt path {
  fill: #00c;
}
.purple-belt path {
  fill: purple;
}
.brown-belt path {
  fill: #964b00;
}
.black-belt path {
  fill: #000;
}

.armband {
  margin-top: 5%;
  height: 25%;
}

/* 
 */

.react-calendar {
  margin: auto;
  width: 85% !important;
  height: 50vh;
  background-color: #1b1b2a !important;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-sizing: border-box;
  border: none !important;
}

.react-calendar__navigation *:hover {
  background-color: #1b1b2a !important;
  cursor: pointer;
}

.react-calendar__navigation * {
  font-size: 1.1em !important;
}

.react-calendar__month-view__days {
  height: 35vh;
  padding-bottom: 2vh;
}
.react-calendar__tile {
  color: #fff !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: #000;
}

.react-calendar__viewContainer,
.react-calendar__navigation {
  margin: auto;
  width: 80%;
  padding-top: 3vh;
}

.react-calendar__viewContainer {
  padding-bottom: 3vh;
}

.react-calendar__tile--now {
  background-color: #1b1b2a !important;
}

.react-calendar__month-view__weekdays {
  background-color: #d8d8ea;
  border-radius: 15px;
  margin: 2vh 0;
}
.react-calendar__navigation button {
  color: #40d876 !important;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */

.react-calendar__navigation {
  margin-bottom: 0 !important;
}
.react-calendar__tile--active {
  background-color: #40d876 !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #000 !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #000;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #000;
  border-radius: 6px;
  font-weight: bold;
  color: #000;
}

.react-calendar button {
  padding-left: 2.5px;
}

.bjj,
.bjj-mt,
.bjj-mma,
.bjj-mt-private,
.bjj-mt-mma,
.bjj-mma-private,
.bjj-mt-mma-private,
.bjj-private,
.mt,
.mt-mma,
.mt-private,
.mt-mma-private,
.mma,
.mma-private,
.private {
  background-image: url(./assets/bjj.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}

.bjj-mt-mma-private {
  background-image: url("./assets/all.svg") !important;
}
.bjj-mma-private {
  background-image: url("./assets/bjj-mma-private.svg") !important;
}

.bjj-mt-private {
  background-image: url("./assets/bjj-mt-private.svg") !important;
}

.bjj-mt-mma {
  background-image: url("./assets/bjj-mt-mma.svg") !important;
}

.bjj-mt {
  background-image: url("./assets/bjj-mt.svg") !important;
}

.bjj-mma {
  background-image: url("./assets/bjj-mma.svg") !important;
}

.bjj-private {
  background-image: url("./assets/bjj-private.svg") !important;
}

.mt {
  background-image: url("./assets/mt.svg") !important;
  color: #000 !important;
}

.mt-mma-private {
  background-image: url("./assets/mt-mma-private.svg") !important;
}

.mt-mma {
  background-image: url("./assets/mt-mma.svg") !important;
}

.mt-private {
  background-image: url("./assets/mt-private.svg") !important;
}

.mma {
  background-image: url("./assets/mma.svg") !important;
}

.mma-private {
  background-image: url("./assets/mma-private.svg") !important;
}

.private {
  background-image: url("./assets/private.svg") !important;
  color: #000 !important;
}

.band-color {
  fill: #fff;
}

.sign-out-btn {
  padding: 10px 50px;
  background-color: #246030;
  color: #fff;
  margin: 3vh;
  border: none;
  border-radius: 20px;
  display: none;
  font-size: 1.3em;
}
.desk {
  display: block;
}

.links {
  display: flex;
  justify-content: space-around;
}

.links * {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  background-color: var(--grey);
}

.calendar-div {
  padding-top: 5vh;
}

.legend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-left: 7vw;
}

@media screen and (max-width: 768px) {
  #delete-button {
    display: none;
  }
  .rank-div {
    height: 28vh;
    margin-top: 0;
  }
  .rank-div-double {
    margin-top: 5vh;
    max-width: 95%;
  }

  .react-calendar__navigation * {
    font-size: 1em !important;
  }

  .react-calendar {
    height: 40vh !important;
  }

  .react-calendar__month-view__days {
    height: 25vh;
  }

  .react-calendar__month-view__weekdays {
    margin: 2vh 0;
  }
  .acronym {
    display: none;
  }

  .logo {
    height: 15vh;
  }
  #six-logo {
    height: 19vh;
  }

  .profile {
    flex-direction: column;
  }

  .sign-out-btn {
    display: block;
  }

  .desk {
    display: none;
  }
  .profile {
    color: #fff;
    font-size: 1.1em;
  }
  .user-pic {
    height: 20vw;
    border-radius: 50%;
    width: 20vw;
  }
  .user-div {
    margin-top: 2vh;
  }
}
@media screen and (max-width: 425px) {
  .user-pic {
    height: 30vw;
    border-radius: 50%;
    width: 30vw;
  }

  .sign-in {
    font-size: 1.8em;
  }

  .profile {
    color: #fff;
    font-size: 1em;
  }
}

/* Members table */

.tables-div h1 {
  font-size: 2em;
}

.table-heading p,
.table-heading a {
  font-size: 2em;
  cursor: pointer;
}

.table-header div:first-child {
  cursor: pointer;
}

.reload-icon {
  fill: #fff;
  height: 2.1rem;
  width: 2.1rem;
  cursor: pointer;
}

.table-heading {
  display: flex;
  margin-top: 3vh;
  gap: 2rem;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

.generate-btn {
  background-color: #40d876;
  border-radius: 10px;
  padding: 0 20px;
  font-weight: normal;
  color: #000;
}

.toggler {
  background-color: #1b1b2a;
  padding: 0 25px;
  color: #fff;
}

.mt-table .table-heading {
  margin-top: 5vh;
}

.container {
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.table {
  width: 100%;
  border: 1px solid #eeeeee;
}

.table-header {
  display: flex;
  width: 100%;
  background: #1b1b2a;
  padding: 18px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:nth-of-type(odd) {
  background: #eeeeee;
  color: var(--gray);
}

.table-row:nth-of-type(even) {
  color: #fff;
}

.table-row:nth-of-type(even) .edit-icon * {
  fill: #fff;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__item {
  text-transform: uppercase;
}

.edit-icon {
  height: 60%;
  margin-left: 0.2vw;
  cursor: pointer;
}

/*  */
.popup p {
  margin-top: 2vh;
}

.close {
  position: absolute;
    right: 1vw;
    top: 0.5vw;
    font-size: 2em;
    color: #cb011c;
    cursor: pointer;
}

.line {
  margin: auto;
  background-color: #fff;
  width: 80%;
  height: 0.2vh;
  flex: initial !important;
  margin-top: 1vh;
}

.verify-btns {
  display: flex;
  margin-top: 3vh;
  padding-bottom: 3vh;
  justify-content: center;
  gap: 3vw;
}

.verify-btns button {
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  gap: 1vw;
  height: 5vh;
  width: 46%;
}

#yes {
  background-color: #373850;
}

#no {
  background-color: #503737;
}

.verify-btns input:first-child {
  background: none;
  background-color: #246030;
  color: #fff;
}

.verify-btns input:last-child {
  background: none;
  background-color: #cc0000;
  color: #fff;
}

.attend .overlay {
  font-size: 22px;
}

.attend .popup {
  margin: 29% auto;
  width: 63%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: var(--gray);
  color: #fff;
  font-size: 1.2em;
  border-radius: 10px;
  width: 30%;
  position: relative;
}

.edit-form .formInput {
  margin-top: 1vh;
  background-color: #fff;
}

.popup-btn {
  background-color: var(--gray);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 2vh;
  cursor: pointer;
  margin-left: 7vw;
}

select {
  margin: 1vh 0;
  border: none;
  background-color: #40d876;
  border-radius: 10px;
  padding: 5px 10px;
}

.inactive {
  display: none;
}

.active {
  display: inline;
}

.popup-btn *:hover {
  text-decoration: underline;
}

#remove-classes {
  color: #cb011c;
}

.navbar {
  background-color: #1b1b2a;
  height: 6vh;
}

.links-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}
.green {
  width: 13px;
  height: 13px;
  margin-left: 5px;
}

.green ellipse {
  fill: #40d876;
}

@media screen and (max-width: 768px) {
  .links-div {
    width: 100%;
  }

  .greens-div {
    display: none;
  }

  .navbar {
    display: none;
  }
}
